@CHARSET "UTF-8";

.clearfix:after {
	content: "";
	clear: both;
	display: block;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
}
.main-left {
	float: left;
	width: 580px;
}
.main-left h2 {
	margin: 0 40px 10px;
}
.main-right {
	float: right;
	width: 420px;
	margin-top: 40px;

}

.purchase-list {
	width: 500px;
	margin: 0 auto 15px;
}
.regist {
	border: 1px solid #ddd;
	border-radius: 4px 4px 0 0;
	background-color: #f6f6f6;
}
.regist-date {
	float: left;

}
.regist-date p:first-child {
	margin: 8px 8px 0;
	font: 14px #000;
}
.regist-date p:last-child {
	margin: 0 8px 8px;
	font: 14px #000;
}
.item {
	padding: 10px 0;
	border: 1px solid #aaa;
/*	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd; */
	border-radius: 5px;
}
.img {
	float: left;
	margin: 15px 45px 15px 35px;
	width: 150px;
	height: 150px;

}
.img img {
	width: 100%;
	height: 100%;
}

.detail {
	float: left;

}
.detail p {
	margin: 0;
}
.hurigana {
	margin: 8px 0 -6px;
}
.name {
	margin: 0 0 8px;
	font: 21px bold sans-serif;
}
.name a {
	color: #4B99AD;
	text-decoration: none;
}
.name a:hover {
	text-decoration: underline;
}
.count {
	margin: 0 0 6px;
}
.item-price {
	margin: 0 0 6px;
}
.company {
	margin: 0 0 6px;
}
.release-date {
	margin: 0 0 6px;
}
.let-space {
	display: inline-block;
	width: 70px;
}
.review {
	float: right;
	margin: 30px auto;

}
.delete {
	margin: 10px auto;
}

.myPage {
	width: 350px;
}
.myPage th, td {
	padding: 3px;
}
.mypage-button {
	width: 350px;
	margin: 0 auto;
}
.page1 {
	float: none;
	padding: 15px 40px;
	border-radius: 4px;
	font-size: 20px;
}
.sub-btn {
	margin: 30px 0px 80px ;
	text-align: right;
}
.link-btn {
	text-align: right;
}


/* paymentComplete.jsp */

.comp-main h2 {
	text-align: center;
}
.page {
	float: none;
}
.comp-main p {
	text-align: center;
}
